# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# バイトコード
__pycache__/
*.pyc
*.pyo
*.egg-info/

# 仮想環境
venv/
*.venv

# neatfile
ndpop*.txt
neat-checkpoint-*

*.o
*.obj
*.exe
*.dll
*.so
*.out
*.a
*.lib
*.pdb

# ビルドディレクトリ
Debug/
Release/

# 一時ファイルやバックアップファイル
*.bak
*.swp
*~ 
*.tmp

# IDEの設定やキャッシュ (例: Visual Studio Code, Visual Studio, CLionなど)
.vscode/
.vs/
.idea/
*.sln
*.suo
*.user
*.userosscache
*.proj
*.ncb
*.opensdf 
*.sdf

# その他
*.log
*.tar.*

.png
.svg